In [3]:
import requests
from bs4 import BeautifulSoup  
import pandas as pd
import re
import numpy as np

In [4]:
salary_df = pd.read_csv('../data/salary_df_edited_good.csv')

In [5]:
salary_df

                 fighter     salary  year
0        Michael Bisping  $915,000   2010
1     Georges St-Pierre   $900,000   2010
2           Brock Lesnar  $875,000   2010
3           Rashad Evans  $785,000   2010
4             B.J. Penn   $680,000   2010
...                  ...        ...   ...
5334         Zarah Fairn   $13,500   2020
5335       Zelim Imadaev   $13,500   2020
5336     Austin Springer   $10,500   2020
5337        Vanessa Melo   $10,500   2020
5338       Cole Williams    $9,500   2020

[5339 rows x 3 columns]

In [6]:
salary_df['fighter'] = salary_df['fighter'].str.strip()

In [7]:
salary_df['fighter'] = salary_df['fighter'].apply(lambda x: x.strip())

In [8]:
salary_df

                fighter     salary  year
0       Michael Bisping  $915,000   2010
1     Georges St-Pierre  $900,000   2010
2          Brock Lesnar  $875,000   2010
3          Rashad Evans  $785,000   2010
4             B.J. Penn  $680,000   2010
...                 ...        ...   ...
5334        Zarah Fairn   $13,500   2020
5335      Zelim Imadaev   $13,500   2020
5336    Austin Springer   $10,500   2020
5337       Vanessa Melo   $10,500   2020
5338      Cole Williams    $9,500   2020

[5339 rows x 3 columns]

In [9]:
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Abner Llovenas", "Abner Lloveras"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Akhbar Arreola", "Akbarh Arreola"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Alan Badout", "Alan Baudot"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Alan Belcher", "Alan Belcher"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Aleksandar Racic", "Aleksandar Rakic"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Alessandro Ricci", "Alex Ricci"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Alex da Silva", "Alex Da Silva"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Abner Llovenas", "Abner Lloveras"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Alex Munoz", "Alexander Munoz"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Alex Volkanovski", "Alexander Volkanovski"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Alexander Torres", "Alex Torres"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Alexey Kunchenko", "Aleksei Kunchenko"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Alvaro Herrera", "Alvaro Herrera Mendoza"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Anderson dos Santos", "Anderson Dos Santos"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Andrea Stahl", "Andreas Stahl"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Anthony â€˜Rumbleâ€™ Johnson", "Anthony Johnson"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Antonio Carlos Jr", "Antonio Carlos Junior"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Antonio â€˜Bigfootâ€™ Silva", "Antonio Silva"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Antonio dos Santos Jr.", "Antonio Dos Santos"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Antonio Rogerio Nogueira", "Antonio Rogerio Nogueira"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Arjun Bhullar", "Arjan Bhullar"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Ashlee-Evans Smith", "Ashlee Evans-Smith"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("B.J. Penn", "B.J. Penn"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Bartosz Fabinksi", "Bartosz Fabinski"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Batgerel Danaa", "Danaa Batgerel"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Bernardo Malgalhaes", "Bernardo Magalhaes"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Bradley Scott", "Brad Scott"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Brendan Oâ€™Reilly", "Brendan O'Reilly"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("C.J. Keith", "CJ Keith"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Caio Malgalhaes", "Caio Magalhaes"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Callan Porter", "Callan Potter"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Carlos Diego Ferreira", "Diego Ferreira"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Carlos Hauchin", "Carlos Huachin"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Carls John de Tomas", "Carls John De Tomas"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Cezar â€˜Mutanteâ€™ Ferreira", "Cezar Ferreira"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Charles Olveira", "Charles Oliveira"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Chico Camos", "Chico Camus"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Chris De La Rocha", "Chris de la Rocha"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Christo Giagos", "Christos Giagos"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Claudia Puelles", "Claudio Puelles"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Claudia Silva", "Claudio Silva"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Cody Stamman", "Cody Stamann"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Cris Cyborg", "Cristiane Justino"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Cristiane â€˜Cyborgâ€™ Justino", "Cristiane Justino"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Da Un Jung", "Da-Un Jung"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Damion Grabowski", "Damian Grabowski"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Dan Kelly", "Daniel Kelly"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Dan Spohn", "Daniel Spohn"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Daniel Chavez", "Danny Chavez"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Daniel Comier", "Daniel Cormier"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Daniel Hooker", "Dan Hooker"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Dmitri Smoliakov", "Dmitrii Smoliakov"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Dmitriy Sosnovskiy", "Dmitry Sosnovskiy"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Donâ€™Tale Mayes", "Don'Tale Mayes"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Dong Hyun Kim (Maestro)", "Dong Hyun Ma"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Dong Hyun Kim (Stun Gun)", "Dong Hyun Kim"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Doo Ho Choi", "Dooho Choi"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Dylan Andrew", "Dylan Andrews"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Edimilson â€˜Kevinâ€™ Souza", "Edimilson Souza"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Felipe Oliveira", "Felipe Olivieri"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Frank Trevino", "Francisco Trevino"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Gabriel Green", "Gabe Green"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Garrett Whiteley", "Garett Whiteley"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Glaico Franca", "Glaico Franca Moreira"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Godofredo â€˜Pepeyâ€™ Castro", "Godofredo Pepey"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Grigorii Popov", "Grigory Popov"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Guido Canetti", "Guido Cannetti"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Heather Jo Clark", "Heather Clark"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Heili Alateng", " Alatengheili"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Humberto Brown", "Humberto Brown Morrison"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("J.C. Cottrell", "JC Cottrell"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jairzinho Rozenstruick", "Jairzinho Rozenstruik"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jared Connonier", "Jared Cannonier"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jessica-Rose Clark", "Jessica Rose-Clark"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Ji Heon Kim", "Ji Yeon Kim"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jim Crute", "Jimmy Crute"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Joanne Calderwood", "Joanne Wood"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Joaquim Siva", "Joaquim Silva"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Joe Gigliotti", "Joseph Gigliotti"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("John Teixera", "John Teixeira"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("John-Olav Eneimo", "Jon Olav Einemo"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jon delos Reyes", "Jon Delos Reyes"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jose Alberto Quinonez", "Jose Quinonez"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Joseph Duffy", "Joe Duffy"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Josh Burkman", "Joshua Burkman"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Josh Sammon", "Josh Samman"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Joshua Culibao", "Josh Culibao"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jumabieke Tuerxon", "Jumabieke Tuerxun"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jun Yong Park", "Junyong Park"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jun Yung Park", "Junyong Park"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Junior Alibini", "Junior Albini"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Junior Hernandez", "Ramiro Hernandez"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jussier â€˜Formigaâ€™ da Silva", "Jussier Formiga"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Jussier da Silva", "Jussier Formiga"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Justin Frazer", "Justin Frazier"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("K.J. Noons", "KJ Noons"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Kai Kamaka III", "Kai Kamaka"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Kelvin Gasetlum", "Kelvin Gastelum"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Kenan Song", "Song Kenan"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Kevin Souza", "Edimilson Souza"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Khalil Rountree", "Khalil Rountree Jr."))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Khalil Rountree Jr", "Khalil Rountree Jr."))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Klibson Abreu", "Klidson Abreu"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Kryzsztof Jotko", "Krzysztof Jotko"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Leonardo Augusto Guimaraes", "Leonardo Guimaraes"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Liu Pingyuan", "Pingyuan Liu"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Livia Renata Souza", "Livinha Souza"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Loma Lookboonme", "Loma Lookboonmee"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Luis Henrique da Silva", "Henrique da Silva"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Luiz Eduardo Garagorri", "Eduardo Garagorri"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Luiz Garagorri", "Eduardo Garagorri"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Magomed Bibulatov", "Bibulatov Magomed"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Manny Bermundez", "Manny Bermudez"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Marcelo GuimarÃ£es", "Marcelo Guimaraes"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Marcin Vettori", "Marvin Vettori"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Marcio Alexandre Jr", "Marcio Alexandre Junior"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mary Chiasson", "Macy Chiasson"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Matthew Semeslberger", "Matthew Semelsberger"))

In [10]:
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mauricio â€˜ Shogunâ€™ Rua", "Mauricio Rua"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("MichaÅ‚ Oleksiejczuk", "Michal Oleksiejczuk"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mike De La Torre", "Mike de la Torre"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mike Trizano", "Michael Trizano"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mirko â€˜Cro Copâ€™ Filipovic", "Mirko Cro Cop"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mirko Cro Cop", "Mirko Cro Cop"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mirsad Betktic", "Mirsad Bektic"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mizuki Inoue", "Inoue Mizuki"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mostapha Al-Turk", "Mostapha Al-Turk"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Mounir Lazeez", "Mounir Lazzez"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Nathan Maness", "Nate Maness"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Nick Pace", "Nicholas Musoke"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Nico Musoke", "Nicholas Musoke"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Nina Ansaroff", "Nina Nunes"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Ning Guangyou", "Guangyou Ning"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Norifumi â€˜Kidâ€™ Yamamoto", "Norifumi Yamamoto"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Oleksiy Oliynyk", "Aleksei Oleinik"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Ottman Azatair", "Ottman Azaitar"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Patrick Holohan", "Paddy Holohan"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Polo Reyes", "Marco Polo Reyes"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Quinton â€˜Rampageâ€™ Jackson", "Rampage Jackson"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rafael â€˜Feijaoâ€™ Cavalcante", "Rafael Cavalcante"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rafael dos Anjos", "Rafael dos Anjos"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rafaelo Oliveira", "Rafaello Oliveira"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Ramazen Emeev", "Ramazan Emeev"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rampage Jackson", "Rampage Jackson"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Renato Carneiro", "Renato Moicano"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rich Attonito", "Rich Attonito"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rick Glenn", "Ricky Glenn"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rob Whiteford", "Robert Whiteford"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Robbie Peralta", "Robert Peralta"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Roberto Sanchez", "Robert Sanchez"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rodolfo Rubio", "Rodolfo Rubio Perez"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rodrigo Goiana de Lima", "Rodrigo de Lima"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rodrigo Vargas", "Kazula Vargas"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Roldan Sangcha-an", "Roldan Sangcha'an"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Roldan Sangcha-An", "Roldan Sangcha'an"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Ronaldo â€˜Jacareâ€™ Souza", "Jacare Souza"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Ronaldo â€œJacareâ€™ Souza", "Jacare Souza"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Rony Mariano Bezerra", "Rony Jason"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Sako Chivitchian", "Sako Chivitchian"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Salem Touahri", "Salim Touahri"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Saparbek Safarov", "Saparbeg Safarov"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Sean Oâ€™Connell", "Sean O'Connell"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Sean Oâ€™Malley", "Sean O'Malley"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Sergey Pavlovich", "Sergei Pavlovich"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Sergey Spivak", "Serghei Spivac"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Seung Woo Choi", "SeungWoo Choi"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Stanislav Nedkov", "Stanislav Nedkov"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Steven Siler", "Steven Siler"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Su Mudaerji", " Sumudaerji"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("T.J. Brown", "TJ Brown"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("T.J. Dillashaw", "T.J. Dillashaw"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("T.J. Laramie", "TJ Laramie"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("T.J. Oâ€™Brien", "TJ O'Brien"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Tafon Nchuwki", "Tafon Nchukwi"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Thiago Moses", "Thiago Moises"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("TJ O'Brien", "TJ O'Brien"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Tony Martin", "Anthony Rocco Martin"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Tor Treong", "Tor Troeng"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Ulka Sasaki", "Yuta Sasaki"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("ValÃ©rie LÃ©tourneau", "Valerie Letourneau"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Vernon Ramos", "Vernon Ramos Ho"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Vincent Cachero", "Vince Cachero"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Vincente Luque", "Vicente Luque"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Vinny Malgalhaes", "Vinny Magalhaes"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Wang Anying", "Anying Wang"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Wang Sai", "Sai Wang"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Weili Zhang", "Zhang Weili"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Wendell Oliveira", "Wendell Oliveira Marques"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("William â€˜Patalinoâ€™ Macario", "William Macario"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Xiaonan Yan", "Yan Xiaonan"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Yadong Song", "Song Yadong"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Yashuhiro Urishitani", "Yasuhiro Urushitani"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Youseff Zalal", "Youssef Zalal"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Yushin Okami", "Yushin Okami"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Zarah Fairn dos Santos", "Zarah Fairn"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Zhang Tiequan", "Zhang Tiequan"))
salary_df["fighter"] = salary_df["fighter"].apply(lambda x: x.replace("Zu Anyanwu", "Azunna Anyanwu"))

In [24]:
salary_df.to_csv('../data/salary_df2.csv')

In [13]:
fighters_df = pd.read_csv('../data/fighter_bio_df_edited_names2.csv')

In [14]:
fighters_df

,Unnamed: 0,first_name,last_name,height,weight,stance,wins,losses,draws,number_of_fights,full_name,gender,current_or_former_champ
0,0,Tom,Aaron,--,155,NaN,5,3,0,8,Tom Aaron,m,f
1,1,Danny,Abbadi,"5' 11""",155,Orthodox,4,6,0,10,Danny Abbadi,m,f
2,2,David,Abbott,"6' 0""",265,Switch,10,15,0,25,David Abbott,m,f
3,3,Shamil,Abdurakhimov,"6' 3""",235,Orthodox,20,6,0,26,Shamil Abdurakhimov,m,f
4,4,Hiroyuki,Abe,"5' 6""",145,Orthodox,8,15,3,26,Hiroyuki Abe,m,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,27,Dave,Zitanick,--,170,NaN,5,7,0,12,Dave Zitanick,m,f
3730,28,Alex,Zuniga,--,145,NaN,6,3,0,9,Alex Zuniga,m,f
3731,29,George,Zuniga,"5' 9""",185,NaN,3,1,0,4,George Zuniga,m,f
3732,30,Allan,Zuniga,"5' 7""",155,Orthodox,13,1,0,14,Allan Zuniga,m,f
3733,31,Virgil,Zwicker,"6' 2""",205,NaN,15,6,1,22,Virgil Zwicker,m,f

In [15]:
fighters_df

,Unnamed: 0,first_name,last_name,height,weight,stance,wins,losses,draws,number_of_fights,full_name,gender,current_or_former_champ
0,0,Tom,Aaron,--,155,NaN,5,3,0,8,Tom Aaron,m,f
1,1,Danny,Abbadi,"5' 11""",155,Orthodox,4,6,0,10,Danny Abbadi,m,f
2,2,David,Abbott,"6' 0""",265,Switch,10,15,0,25,David Abbott,m,f
3,3,Shamil,Abdurakhimov,"6' 3""",235,Orthodox,20,6,0,26,Shamil Abdurakhimov,m,f
4,4,Hiroyuki,Abe,"5' 6""",145,Orthodox,8,15,3,26,Hiroyuki Abe,m,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,27,Dave,Zitanick,--,170,NaN,5,7,0,12,Dave Zitanick,m,f
3730,28,Alex,Zuniga,--,145,NaN,6,3,0,9,Alex Zuniga,m,f
3731,29,George,Zuniga,"5' 9""",185,NaN,3,1,0,4,George Zuniga,m,f
3732,30,Allan,Zuniga,"5' 7""",155,Orthodox,13,1,0,14,Allan Zuniga,m,f
3733,31,Virgil,Zwicker,"6' 2""",205,NaN,15,6,1,22,Virgil Zwicker,m,f

In [16]:
inner_join = pd.merge(salary_df ,fighters_df,left_on='fighter', right_on='full_name')

In [17]:
inner_join

,fighter,salary,year,Unnamed: 0,first_name,last_name,height,weight,stance,wins,losses,draws,number_of_fights,full_name,gender,current_or_former_champ
0,Michael Bisping,"$915,000",2010,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
1,Michael Bisping,"$810,000",2011,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
2,Michael Bisping,"$700,000",2012,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
3,Michael Bisping,"$700,000",2013,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
4,Michael Bisping,"$975,000",2014,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5232,TJ Laramie,"$13,500",2020,25,TJ,Laramie,"5' 6""",145,Orthodox,12,4,0,16,TJ Laramie,m,f
5233,Timur Valiev,"$13,500",2020,5,Timur,Valiev,"5' 6""",135,Orthodox,18,2,0,20,Timur Valiev,m,f
5234,Victor Rodriguez,"$13,500",2020,138,Victor,Rodriguez,"5' 5""",125,Switch,7,4,0,11,Victor Rodriguez,m,f
5235,Vince Cachero,"$13,500",2020,3,Vince,Cachero,"5' 6""",145,Orthodox,7,4,0,11,Vince Cachero,m,f
5236,Austin Springer,"$10,500",2020,318,Austin,Springer,"5' 8""",145,Orthodox,12,4,0,16,Austin Springer,m,f

In [18]:
outer_join = pd.merge(salary_df ,fighters_df,left_on='fighter', right_on='full_name', how='left')

In [19]:
outer_join

,fighter,salary,year,Unnamed: 0,first_name,last_name,height,weight,stance,wins,losses,draws,number_of_fights,full_name,gender,current_or_former_champ
0,Michael Bisping,"$915,000",2010,114.0,Michael,Bisping,"6' 1""",185,Orthodox,30.0,9.0,0.0,39.0,Michael Bisping,m,t
1,Georges St-Pierre,"$900,000",2010,319.0,Georges,St-Pierre,"5' 11""",185,Orthodox,26.0,2.0,0.0,28.0,Georges St-Pierre,m,t
2,Brock Lesnar,"$875,000",2010,87.0,Brock,Lesnar,"6' 3""",265,Orthodox,5.0,3.0,0.0,8.0,Brock Lesnar,m,t
3,Rashad Evans,"$785,000",2010,73.0,Rashad,Evans,"6' 0""",205,Orthodox,19.0,8.0,1.0,28.0,Rashad Evans,m,t
4,B.J. Penn,"$680,000",2010,74.0,BJ,Penn,"5' 9""",155,Orthodox,16.0,14.0,2.0,32.0,B.J. Penn,m,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5342,Zarah Fairn,"$13,500",2020,7.0,Zarah,Fairn,"5' 8""",135,Orthodox,6.0,4.0,0.0,10.0,Zarah Fairn,f,f
5343,Zelim Imadaev,"$13,500",2020,9.0,Zelim,Imadaev,"6' 0""",170,Orthodox,8.0,3.0,0.0,11.0,Zelim Imadaev,m,f
5344,Austin Springer,"$10,500",2020,318.0,Austin,Springer,"5' 8""",145,Orthodox,12.0,4.0,0.0,16.0,Austin Springer,m,f
5345,Vanessa Melo,"$10,500",2020,194.0,Vanessa,Melo,"5' 5""",135,Orthodox,11.0,8.0,0.0,19.0,Vanessa Melo,f,f
5346,Cole Williams,"$9,500",2020,89.0,Cole,Williams,"6' 0""",170,Orthodox,11.0,3.0,0.0,14.0,Cole Williams,m,f

In [20]:
outer_join_null = outer_join[outer_join['first_name'].isnull()]

In [21]:
outer_join_null

,fighter,salary,year,Unnamed: 0,first_name,last_name,height,weight,stance,wins,losses,draws,number_of_fights,full_name,gender,current_or_former_champ
123,Matthew Riddle,"$52,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Rich Antonito,"$40,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Alesander Gustafsson,"$18,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,Eric Shaefer,"$13,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,Elliot Marshall,"$10,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,Sean O’Malley,"$306,500",2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4867,Ronaldo ‘Jacare’ Souza,"$225,000",2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5036,Sumudaerji,"$77,500",2020,388.0,NaN,Sumudaerji,"5' 8""",125,Southpaw,14.0,4.0,0.0,18.0,Sumudaerji,m,f
5160,Don’Tale Mayes,"$37,000",2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5286,Alatengheili,"$15,500",2020,33.0,NaN,Alatengheili,"5' 5""",135,Orthodox,14.0,8.0,2.0,24.0,Alatengheili,m,f

In [22]:
outer_join_null.to_csv('../data/outer_join_null.csv')

In [23]:
inner_join.to_csv('../data/inner_join.csv')

In [25]:
inner_join.groupby(['gender']).mean()

,year,Unnamed: 0,wins,losses,draws,number_of_fights
gender,,,,,,
f,2017.516765,103.429980,11.570020,5.550296,0.12426,17.244576
m,2015.473573,107.618605,17.557294,6.900423,0.22389,24.681607

In [26]:
inner_join.groupby(['current_or_former_champ']).mean()

,year,Unnamed: 0,wins,losses,draws,number_of_fights
current_or_former_champ,,,,,,
f,2015.684776,107.951358,16.373342,6.784797,0.217941,23.376079
t,2015.540984,100.028689,22.858607,6.622951,0.178279,29.659836

In [27]:
inner_join.groupby(['fighter']).mean()

                      year  Unnamed: 0  wins  losses  draws  number_of_fights
fighter
 Alatengheili       2019.5        33.0  14.0     8.0    2.0              24.0
 Sumudaerji         2019.0       388.0  14.0     4.0    0.0              18.0
Aalon Cruz          2020.0       231.0   8.0     4.0    0.0              12.0
Aaron Phillips      2017.0       120.0  12.0     4.0    0.0              16.0
Aaron Riley         2010.5        79.0  30.0    14.0    1.0              45.0
...                    ...         ...   ...     ...    ...               ...
Zhalgas Zhumagulov  2020.0        20.0  14.0     6.0    0.0              20.0
Zhang Lipeng        2014.5        16.0  23.0     9.0    1.0              33.0
Zhang Tiequan       2012.5        15.0  15.0     4.0    0.0              19.0
Zhang Weili         2019.0        17.0  21.0     3.0    0.0              24.0
Zubaira Tukhugov    2016.8       123.0  20.0     5.0    1.0              26.0

[1609 rows x 6 columns]

In [28]:
inner_join.groupby(['fighter']).mean(['salary'])

                      year  Unnamed: 0  wins  losses  draws  number_of_fights
fighter
 Alatengheili       2019.5        33.0  14.0     8.0    2.0              24.0
 Sumudaerji         2019.0       388.0  14.0     4.0    0.0              18.0
Aalon Cruz          2020.0       231.0   8.0     4.0    0.0              12.0
Aaron Phillips      2017.0       120.0  12.0     4.0    0.0              16.0
Aaron Riley         2010.5        79.0  30.0    14.0    1.0              45.0
...                    ...         ...   ...     ...    ...               ...
Zhalgas Zhumagulov  2020.0        20.0  14.0     6.0    0.0              20.0
Zhang Lipeng        2014.5        16.0  23.0     9.0    1.0              33.0
Zhang Tiequan       2012.5        15.0  15.0     4.0    0.0              19.0
Zhang Weili         2019.0        17.0  21.0     3.0    0.0              24.0
Zubaira Tukhugov    2016.8       123.0  20.0     5.0    1.0              26.0

[1609 rows x 6 columns]

In [35]:
inner_join['salary'].dtypes

dtype('O')