In [1]:
import requests
from bs4 import BeautifulSoup  
import pandas as pd
import re
import numpy as np

In [4]:
salary_df = pd.read_csv('../data/salary_df_edited_good.csv')

In [5]:
salary_df

                 fighter     salary  year
0        Michael Bisping  $915,000   2010
1     Georges St-Pierre   $900,000   2010
2           Brock Lesnar  $875,000   2010
3           Rashad Evans  $785,000   2010
4             B.J. Penn   $680,000   2010
...                  ...        ...   ...
5334         Zarah Fairn   $13,500   2020
5335       Zelim Imadaev   $13,500   2020
5336     Austin Springer   $10,500   2020
5337        Vanessa Melo   $10,500   2020
5338       Cole Williams    $9,500   2020

[5339 rows x 3 columns]

In [24]:
salary_df['fighter'] = salary_df['fighter'].str.strip()

In [32]:
salary_df['fighter'] = salary_df['fighter'].apply(lambda x: x.strip())

In [34]:
salary_df

                fighter     salary  year
0       Michael Bisping  $915,000   2010
1     Georges St-Pierre  $900,000   2010
2          Brock Lesnar  $875,000   2010
3          Rashad Evans  $785,000   2010
4             B.J. Penn  $680,000   2010
...                 ...        ...   ...
5334        Zarah Fairn   $13,500   2020
5335      Zelim Imadaev   $13,500   2020
5336    Austin Springer   $10,500   2020
5337       Vanessa Melo   $10,500   2020
5338      Cole Williams    $9,500   2020

[5339 rows x 3 columns]

In [35]:
fighters_df = pd.read_csv('../data/fighter_bio_df_edited.csv')

In [36]:
fighters_df

,Unnamed: 0,first_name,last_name,height,weight,stance,wins,losses,draws,number_of_fights,full_name,gender,current_or_former_champ
0,0,Tom,Aaron,--,155,NaN,5,3,0,8,Tom Aaron,m,f
1,1,Danny,Abbadi,"5' 11""",155,Orthodox,4,6,0,10,Danny Abbadi,m,f
2,2,David,Abbott,"6' 0""",265,Switch,10,15,0,25,David Abbott,m,f
3,3,Shamil,Abdurakhimov,"6' 3""",235,Orthodox,20,6,0,26,Shamil Abdurakhimov,m,f
4,4,Hiroyuki,Abe,"5' 6""",145,Orthodox,8,15,3,26,Hiroyuki Abe,m,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,27,Dave,Zitanick,--,170,NaN,5,7,0,12,Dave Zitanick,m,f
3730,28,Alex,Zuniga,--,145,NaN,6,3,0,9,Alex Zuniga,m,f
3731,29,George,Zuniga,"5' 9""",185,NaN,3,1,0,4,George Zuniga,m,f
3732,30,Allan,Zuniga,"5' 7""",155,Orthodox,13,1,0,14,Allan Zuniga,m,f
3733,31,Virgil,Zwicker,"6' 2""",205,NaN,15,6,1,22,Virgil Zwicker,m,f

In [37]:
inner_join = pd.merge(salary_df ,fighters_df,left_on='fighter', right_on='full_name')

In [38]:
inner_join

,fighter,salary,year,Unnamed: 0,first_name,last_name,height,weight,stance,wins,losses,draws,number_of_fights,full_name,gender,current_or_former_champ
0,Michael Bisping,"$915,000",2010,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
1,Michael Bisping,"$810,000",2011,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
2,Michael Bisping,"$700,000",2012,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
3,Michael Bisping,"$700,000",2013,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
4,Michael Bisping,"$975,000",2014,114,Michael,Bisping,"6' 1""",185,Orthodox,30,9,0,39,Michael Bisping,m,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4905,Stephanie Egger,"$13,500",2020,19,Stephanie,Egger,"5' 6""",135,Orthodox,6,2,0,8,Stephanie Egger,m,f
4906,Timur Valiev,"$13,500",2020,5,Timur,Valiev,"5' 6""",135,Orthodox,18,2,0,20,Timur Valiev,m,f
4907,Victor Rodriguez,"$13,500",2020,138,Victor,Rodriguez,"5' 5""",125,Switch,7,4,0,11,Victor Rodriguez,m,f
4908,Zarah Fairn,"$13,500",2020,7,Zarah,Fairn,"5' 8""",135,Orthodox,6,4,0,10,Zarah Fairn,m,f
4909,Austin Springer,"$10,500",2020,318,Austin,Springer,"5' 8""",145,Orthodox,12,4,0,16,Austin Springer,m,f

In [39]:
outer_join = pd.merge(salary_df ,fighters_df,left_on='fighter', right_on='full_name', how='left')

In [40]:
outer_join

,fighter,salary,year,Unnamed: 0,first_name,last_name,height,weight,stance,wins,losses,draws,number_of_fights,full_name,gender,current_or_former_champ
0,Michael Bisping,"$915,000",2010,114.0,Michael,Bisping,"6' 1""",185,Orthodox,30.0,9.0,0.0,39.0,Michael Bisping,m,t
1,Georges St-Pierre,"$900,000",2010,319.0,Georges,St-Pierre,"5' 11""",185,Orthodox,26.0,2.0,0.0,28.0,Georges St-Pierre,m,t
2,Brock Lesnar,"$875,000",2010,87.0,Brock,Lesnar,"6' 3""",265,Orthodox,5.0,3.0,0.0,8.0,Brock Lesnar,m,t
3,Rashad Evans,"$785,000",2010,73.0,Rashad,Evans,"6' 0""",205,Orthodox,19.0,8.0,1.0,28.0,Rashad Evans,m,t
4,B.J. Penn,"$680,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5342,Zarah Fairn,"$13,500",2020,7.0,Zarah,Fairn,"5' 8""",135,Orthodox,6.0,4.0,0.0,10.0,Zarah Fairn,m,f
5343,Zelim Imadaev,"$13,500",2020,9.0,Zelim,Imadaev,"6' 0""",170,Orthodox,8.0,3.0,0.0,11.0,Zelim Imadaev,m,f
5344,Austin Springer,"$10,500",2020,318.0,Austin,Springer,"5' 8""",145,Orthodox,12.0,4.0,0.0,16.0,Austin Springer,m,f
5345,Vanessa Melo,"$10,500",2020,194.0,Vanessa,Melo,"5' 5""",135,Orthodox,11.0,8.0,0.0,19.0,Vanessa Melo,f,f
5346,Cole Williams,"$9,500",2020,89.0,Cole,Williams,"6' 0""",170,Orthodox,11.0,3.0,0.0,14.0,Cole Williams,m,f

In [41]:
outer_join_null = outer_join[outer_join['first_name'].isnull()]

In [42]:
outer_join_null

,fighter,salary,year,Unnamed: 0,first_name,last_name,height,weight,stance,wins,losses,draws,number_of_fights,full_name,gender,current_or_former_champ
4,B.J. Penn,"$680,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Rampage Jackson,"$500,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Mirko Cro Cop,"$460,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Antonio Rogerio Nogueira,"$275,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Junior dos Santos,"$260,000",2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5300,Alan Badout,"$13,500",2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5301,Alex Munoz,"$13,500",2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5321,Joshua Culibao,"$13,500",2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5338,T.J. Laramie,"$13,500",2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5341,Vincent Cachero,"$13,500",2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
outer_join_null.to_csv('../data/outer_join_null.csv')